.laptop-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #1a1a1a;
}

button {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5px;
}

button:hover {
    background-color: #3700b3;
}

input {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
